/*font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;*/

:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-fimaly: "Poppins", sans-serif;
}


body {
    font-family: var(--default-font-fimaly);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 94px;
    line-height: 1.4;
}

.hero h2 {
    font-family: var(--default-font-fimaly);
    font-weight: normal;
    line-height: 2;
    font-size: 42px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content {
    padding: 30px;

}

.content-container {
    padding: 60px 20px;
    text-align: center;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-fimaly);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-fimaly);
}

.content p {
    font-size: 14px;
}

.content-container .img-fluid {
  /*max-width: 70%;*/
  height: 80%;
}



.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 120px 20px;
}

.hero p {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

h2 {
    font-size: 60px;
}


p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.project-description {
    padding: 10px 30px;
}

.logo {
    max-width: 100px;
}

nav {
    padding: 20px;
}


nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    font-size: 14px;
}


nav a:hover,
nav li.active a {
    color: var(--branding-color);
    transition: all 100ms ease-in-out;
}


@media (max-width:940px){
    nav li {
        margin-left: 6px;
    }

    h1 {
        font-size: 40px;
        line-height: 2;
    }

    h2 {
        font-size: 38px;
        line-height: 1.4
    }

    .hero h2{
        line-height: 1.2;
        font-size: 30px;
    }

    .hero p {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .hero {
        padding: 80px 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .content-container {
        padding: 0;
        text-align: center;
    }

    nav li {
        line-height: 30px;
    }

    }